In [15]:
import pandas as pd
import requests

def consultar_api(cnpj):
    url = f"https://open.cnpja.com/office/{cnpj}"
    response = requests.get(url, verify=False)

    if response.status_code == 200:
        return response.json()
    else:
        raise Exception(f"Erro: {response.status_code}")

# Substitua pelo CNPJ que você deseja consultar
cnpj = "20855875000182"  # Exemplo de CNPJ
resultado = consultar_api(cnpj)

# DataFrames para diferentes hierarquias
df_company = pd.DataFrame()
df_address = pd.DataFrame()
df_status = pd.DataFrame()
df_main_activity = pd.DataFrame()
df_phones = pd.DataFrame()
df_emails = pd.DataFrame()

# Extraindo dados para diferentes DataFrames
# Company
company_data = resultado.get('company', {})
if company_data:
    company_data_flat = {key: value for key, value in company_data.items() if key not in ['members']}
    company_data_flat['nature.id'] = company_data.get('nature', {}).get('id')
    company_data_flat['nature.text'] = company_data.get('nature', {}).get('text')
    company_data_flat['size.id'] = company_data.get('size', {}).get('id')
    company_data_flat['size.acronym'] = company_data.get('size', {}).get('acronym')
    company_data_flat['size.text'] = company_data.get('size', {}).get('text')
    company_data_flat['simples.optant'] = company_data.get('simples', {}).get('optant')
    company_data_flat['simples.since'] = company_data.get('simples', {}).get('since')
    company_data_flat['simei.optant'] = company_data.get('simei', {}).get('optant')
    company_data_flat['simei.since'] = company_data.get('simei', {}).get('since')
    
    df_company = pd.DataFrame([company_data_flat])

# Address
address_data = resultado.get('address', {})
if address_data:
    address_data_flat = {
        'municipality': address_data.get('municipality'),
        'street': address_data.get('street'),
        'number': address_data.get('number'),
        'district': address_data.get('district'),
        'city': address_data.get('city'),
        'state': address_data.get('state'),
        'details': address_data.get('details'),
        'zip': address_data.get('zip'),
        'country.id': address_data.get('country', {}).get('id'),
        'country.name': address_data.get('country', {}).get('name')
    }
    df_address = pd.DataFrame([address_data_flat])

# Status
status_data = resultado.get('status', {})
if status_data:
    status_data_flat = {
        'id': status_data.get('id'),
        'text': status_data.get('text')
    }
    df_status = pd.DataFrame([status_data_flat])

# Main Activity
main_activity_data = resultado.get('mainActivity', {})
if main_activity_data:
    main_activity_data_flat = {
        'id': main_activity_data.get('id'),
        'text': main_activity_data.get('text')
    }
    df_main_activity = pd.DataFrame([main_activity_data_flat])

# Phones
phones_data = resultado.get('phones', [])
if phones_data:
    df_phones = pd.DataFrame(phones_data)

# Emails
emails_data = resultado.get('emails', [])
if emails_data:
    df_emails = pd.DataFrame(emails_data)

# Exibindo os DataFrames
print("DataFrame da Company:")
display(df_company)
print("\nDataFrame do Address:")
display(df_address)
print("\nDataFrame do Status:")
display(df_status)
print("\nDataFrame da Main Activity:")
display(df_main_activity)
print("\nDataFrame de Phones:")
display(df_phones)
print("\nDataFrame de Emails:")
display(df_emails)

DataFrame da Company:

C:\Users\u004132\AppData\Roaming\Python\Python311\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'open.cnpja.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

,id,name,equity,nature,size,simples,simei,nature.id,nature.text,size.id,size.acronym,size.text,simples.optant,simples.since,simei.optant,simei.since
0,20855875,NEON PAGAMENTOS SA INSTITUICAO DE PAGAMENTO,3.457167e+09,"{'id': 2054, 'text': 'Sociedade Anônima Fechada'}","{'id': 5, 'acronym': 'DEMAIS', 'text': 'Demais'}","{'optant': False, 'since': None}","{'optant': False, 'since': None}",2054,Sociedade Anônima Fechada,5,DEMAIS,Demais,False,None,False,None

DataFrame do Address:

,municipality,street,number,district,city,state,details,zip,country.id,country.name
0,3550308,Avenida Francisco Matarazzo,1350,Agua Branca,São Paulo,SP,Andar 2,05001100,76,Brasil

DataFrame do Status:

   id   text
0   2  Ativa

DataFrame da Main Activity:

        id                                               text
0  6202300  Desenvolvimento e licenciamento de programas d...

DataFrame de Phones:

       type area    number
0  LANDLINE   11  48619331

DataFrame de Emails:

   ownership             address       domain
0  CORPORATE  fiscal@neon.com.br  neon.com.br

In [18]:
resultado['status']['text']

'Ativa'